slack:
	app_id: APP_ID_HERE
	client_id: CLIENT_ID_HERE
	client_secret: CLIENT_SECRET_HERE
	signing_secret: SIGNING_SECRET_HERE
    bot_oauth_token: OAUTH_TOKEN_HERE

aws:
  dynamo_db:
    bot_state_table: mattybot-state

admin:
  password: NO_WAY_JOSE
